.one-half.column {
  margin-top: 25%;
}

.social-buttons {
  display: inline-flex;
  list-style: none;
}

li {
  padding: 2rem;
}

i {
  color: #222222;
}

i:hover {
  color: #f067a6;
}

.contact-options {
  text-align: center;
}
