#heading {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
  color: #404040;
  margin: 10px auto 25px auto;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
}

body {
  background-image: url("assets/img/vail_summer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

ul {
  width: 500px;
  padding: 15px;
  margin: 0px auto 0px auto;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}

li {
  display: inline;
  margin: 0px 12px;
}

a:link{
  color: #404040;
  text-decoration: none;
}

a:visited{
  color: #404040;
}

a:hover{
  color: #483D8B;
}
